
body{
    background-color: #FFF3DC;
    font-family: sans-serif;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


/*------------------------------------------------------------ ESTILOS HEADER ---------------------------------------------------------------------*/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D55039;
    min-height: 75px;
    padding: 10px;
    padding-right: 96px;
  
}

#contenedorPerfilCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#contenedorPerfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contenedorPerfil:hover{
    text-decoration-line: underline;
    color: white;
}

#botonMiPerfil{
    border: none;
    background-color: #D55039;
    color: white;
    font-size: 20px;
}

#botonMiPerfil:hover{
    cursor: pointer;
}

#personitaPerfilHeader{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#imagenCarrito{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.buttonIngresar {
    min-height: 50px;
    min-width: 110px;
    background-color:#FFF3DC;
    color: #D55039;
    border-radius: 10px;
    border-color: #D55039;
    border-width: 3px;
}

.buttonIngresar:hover{
    background-color: #953A3A;
    color: #FFF3DC;
    cursor: pointer;
}

.barraBuscar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonLupa{
    border: none;
    background: none;
}

.imagenLupa{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cajaBuscar{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    text-align: left;
    border-radius: 5px;
    border-width: 0px;
}

.lineaBordo{
    display: flex;
    background-color: #953A3A;
    height: 12px;
    padding: 1px;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 96px;
}

#logoBSArriba{
    width:110px;
    min-height: 110px;
}

#arriba{                    /*BOTONES SUPERIORES DE HOME, PRODUCTOS Y CONTACTOS*/
    color: #FFF3DC;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 66px;
    font-size: 30px;
}

.buttonA{
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    font-style: inherit;
    font-size: 25px;
  }

.buttonA:hover{
    color: white;
    text-decoration-line: underline;
    cursor: pointer;
  }

/* ------------------------------------------ESTILOS TABLA PEDIDOS-------------------------------------------*/

#contenedorCentroPantalla{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
    height: 650px;
}

#contenedorTablaTexto{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #F1F1F1;
    padding-left: 40px;
    padding-right: 35px;

}

#contenedorTextoPedidos{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#BarraGrisTitulosTabla{
    display: flex;
    flex-direction: row;
    height: px;
    border-radius: 4px;
    background-color: red
}
#tablaPedidosCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    gap: 30px;
    background-color: white;
    padding: 10px;
}

.columnaTitulosCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosCliente{
    margin-right: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.nroCliente{
    display: flex;
    padding-left: 15px;
}

#lapizEditar{

    width: 18px;
    height: 18px;
    cursor: pointer;
}

#imgTachito {
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: black;
}

#contenedorBotonesTablaCliente{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 15px;
    padding-bottom: 13px;
}

.botonTablaClienteDetalle{
    margin-top: 3px;
    margin-left: 3px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 12px;
    height: 35px;
    width:fixed;
    font-size: 15px;
}
.botonTablaCliente{
    margin-top: 2px;
    margin-left: 5px;
    align-items: center;
    background-color:#D9D9D9;
    border: none;
    border-radius: 12px;
    height: 30px;
    width: 85px;
    font-size: 15px;
    display: flex;
    gap: 5px;
}

.botonTablaCliente:hover{
    cursor: pointer;
}

#contenedorBotonVolver{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-bottom: 20px;
    padding-right: 20px;
}

#botonTablaClienteVolver{
    margin-right: -10px;
    margin-top: 20px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 12px;
    height: 40px;
    width: 95px;
    font-size: 20px;
    font-weight: bold;
}

#botonTablaClienteVolver:hover{
    cursor: pointer;
}

/*----------------------- MODAL INGRESAR------------------------------- */

#ingresarMain{
    display: none;
    padding: 50px;
    background-color: none;
}

#personita{
    max-width: 40px;
    margin: 5px;
}

.container-modal2{
    width: 100%;
    height: 89vh;
    position: fixed;
    top: 0; left: 0;
   
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#ingresarMain:checked ~ .container-modal2{
    display: flex;
}

.btn-cerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cerrar-modal2{
    width:100%;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    
}

@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*Fin Ventana Modal*/

/* -----------------------FORM INGRESAR-------------------------------- */

form{
    height: 620px;
    width: 600px;
    background-color: whitesmoke;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    }
    

   /* ------------------------------------------ESTILOS FORMULARIO-------------------------------------------*/
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bloque1 {
    display: flex;
    align-items: center;
    margin: 10%;
    background-color: white;
    flex-direction: column;
    border-radius: 8px;
    width: 970px;
    height: 330px;

}

.bloque2 {
    display: flex;
    justify-content: left;
    gap: 5px;
    width: 98%;
    background-color: #d9d9d9;
    padding-left: 20px;

}

.bloque3 {
    margin-top: 80px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    background-color: rgb(219, 219, 219);
    gap: 50px;
    font-size: 20px;
    width: 600px;
    border-radius: 20px;
}
.bloqueBotones{

    display: flex;
    flex-direction: row;
    padding: 20px;
}

#trianguloAlerta{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#label {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;

}

#NombreRubro {
    border-radius: 8px;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
}

#Botones {
    display: flex;
    justify-content: right;
    gap: 20px;   
}

#Aceptar {
    display: flex;
    background-color: #d9d9d9;
    color: black;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;

}

#Volver {
    display: flex;
    background-color: #d9d9d9;
    color: black;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;

}
/* ===============================================================*/
 /* -----------------------DENTRO DEL FORM-------------------------------- */

        .formHeader{
            display: flex;
            justify-content:space-between;
            background-color: #cfcfcf;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 15px;
        }

        .analia{
            display: flex;
            justify-content:center;
        }

        label{
            margin: 3px;
        }

        input{
            margin: 10px;
            margin-bottom: 25px;
            padding: 8px;
            border-radius: 15px;
        }

        .info1, .info2{
            display: flex;
            justify-content: space-around;
            background-color: #cfcfcf;
            border-radius: 15px;
            margin: 20px;
            padding: 20px;
        }

        .botonesGyC{
            display: flex;
            justify-content: end;
            margin-bottom: 60px;
        }

        #cerrar, #guardar{
            padding: 10px;
            border-radius: 15px;
            margin: 3px;
        }

        #guardar{
            background-color: #cfcfcf;
        }

        #cerrar:hover, #guardar:hover{
            background-color: gray;
            color: whitesmoke;
        }



    
    /* ===============================================================*/
    
    /* botonnnnnnn ventanaaa*/

    
    @media screen and (max-width:800px) {
        .content-modal{
            width: 90%;
        }
    }
/* ============================Fin Ventana Modal======================================== */
form{
    height: 620px;
    width: 600px;
    background-color: whitesmoke;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    }

/* ------------------------------------------ESTILOS FOOTER-------------------------------------------*/

.container{
    display: flex;
    justify-content: center;
    background-color: #D55039;
    flex-direction: column;
}

.lineaBordoFooter{
    height: 15px;
    background-color: #953A3A;
    justify-content: center;
    flex-direction: row; 
}

.lineaNegraFooter{
    height: 3px;
    background-color: #00000038;
    justify-content: center;
    flex-direction: row;
}

.button {
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    font-style: inherit;
    font-size: 25px;
  }

  .buttonAb{
    font-size: 18px;
    margin: 15px 32px;
    cursor: pointer;
  }

  .buttonUp{
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .buttonApp{
    font-size: 20px !important;
    cursor: pointer;
  }

.button:hover{
    color: white;
    text-decoration-line: underline;
  }

.texto{
    background:none;
    border: none;
    color: #FFF3DC;
    font-style: inherit;
    
}


/* ---------------------PARTE 1 (COLUMNA APPS, LOGO Y COLUMNA REDES SOCIALES)-------------------------------------------*/

.parte1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    align-items: center;
}


/* ------------------------------------------CONTENEDOR APP-------------------------------------------*/

#APPcontainer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#colTextoApp{
    display: flex;
    flex-direction: column;
    color: #FFF3DC;
    font-size: 14px;
    font-style: inherit;
}

#Apps{
    display: flex;
}

.imagePlay{
    width: 90px;
    height: 35px;
}

.imageApple{
    width: 90px;
    height: 35px;
}

/* ------------------------------------------CONTENEDOR LOGO-------------------------------------------*/

#logoBSFooter{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ------------------------------------------CONTENEDOR REDES SOCIALES-------------------------------------------*/

#socialContenedor{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#imagenNombreContenedor{
    display: flex;
    flex-direction: column;
}

#instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageInsta{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.imageFace{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* -----------------------------------------PARTE 2 (BOTONES INFERIORES)-------------------------------------------*/

.parte2{
    margin-bottom: 1em;
}

#abajo{
    color: #FFF3DC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 66px;
    color: #FFF3DC;
}

@media (max-width:700px){       /*CUANDO LA PANTALLA SEA MENOR A 700PX LLAMA A MEDIA QUERY Y HACE:*/
    .header{
        flex-direction: column;
    }

    .parte1{
        flex-direction: column;
    }

    #arriba{
        padding: 10px;
    }

    #logo{
        padding-left: 10px;
    }

    .fondo{
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    #contenedorImagenesComida{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    #contenedorImagenesInformacion{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .container{
        align-items: center;
    }


}
