
body{
    background-color: #FFF3DC;
    font-family: sans-serif;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.noStyle{
    text-decoration: none;
}

/*------------------------------------------------------------ ESTILOS HEADER ---------------------------------------------------------------------*/


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D55039;
    min-height: 75px;
    padding: 10px;
    padding-right: 96px;
  
}

#contenedorPerfilCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#contenedorPerfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contenedorPerfil:hover{
    text-decoration-line: underline;
    color: white;
}

#botonMiPerfil{
    border: none;
    background-color: #D55039;
    color: white;
    font-size: 20px;
}

#botonMiPerfil:hover{
    cursor: pointer;
}

#personitaPerfilImagen{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/*------------CARRITO CON NUMERO DE PRODUCTOS------------*/

.iconoCarrito{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45px;
    height: 45px;
    top:-4px
}

.diseñoNumero{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  #F3F3F3;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    position: relative;
    top:-30px;
    right: -35px;
    z-index: 1;
    display: flex;
    justify-content: center;
    color:#953A3A;
    border: 0.5px solid;
    border-color:  #000000;
}

.botonCarrito{
    border:none;
    cursor: pointer;
    background: none;
    position: absolute;
    width: 61px;
    height: 54px;
}
.botonCarrito:hover{
    transition: 2s;
    border-bottom:3px solid;
    border-color: #FFF3DC;
    
}
.imagenCarrito{
    width: 45px;
    height: 45px; 
}


#imagenCarrito{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.buttonIngresar {
    min-height: 50px;
    min-width: 110px;
    background-color:#FFF3DC;
    color: #D55039;
    border-radius: 10px;
    border-color: #D55039;
    border-width: 3px;
}

.buttonIngresar:hover{
    background-color: #953A3A;
    color: #FFF3DC;
    cursor: pointer;
}

.barraBuscar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonLupa{
    border: none;
    background: none;
}

.imagenLupa{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cajaBuscar{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    text-align: left;
    border-radius: 5px;
    border-width: 0px;
}

.lineaBordo{
    display: flex;
    background-color: #953A3A;
    height: 12px;
    padding: 1px;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 96px;
}

#logoBSArriba{
    width:110px;
    min-height: 110px;
}

#arriba{                    /*BOTONES SUPERIORES DE HOME, PRODUCTOS Y CONTACTOS*/
    color: #FFF3DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 66px;
}

.buttonA{
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    font-style: inherit;
    font-size: 25px;
  }

.buttonA:hover{
    color: white;
    text-decoration-line: underline;
    cursor: pointer;
  }


/*--------------------------------------------------ESTILOS BODY------------------------------------------------------*/ 

#lineaBordoCategoria{
    margin-top: 10px;
    margin-bottom: 100px;
    height: 15px;
    background-color: #953A3A;
    display: flex;
    flex-direction: row;
}

#textoCategorias{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    padding: 25px 50px;
    border: 5px solid #953A3A;
    background-color: #FFF3DC;
    color: #953A3A;
    font-size: 30px;
    font-weight:900;
    border-radius: 4px;
    width: 300px;
    height: 100px;
}

#contenedortextotupedido {
    display: flex;
    justify-content: center;
}

.imagenburguerpizza {
    display: flex;
    justify-content: left;
    margin-left: 25px;
    margin-top: 25px;
    height: 200px;
    width: 200px;
    border-radius: 16px;
}

#contenedorProducto {
    height: 250px;
    border-radius: 16px;
    background-color:#D55039;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 70px;
}

#contenedorProductoImagen {
    display: flex;
    align-items: left; 
}

#contenedorProductoTexto {
    color: #f1f1f1;
    margin-left: 20px;
    font-size: 15px;

}

#contenedorImagenTexto{
    display: flex;
    flex-direction: row;
}

.textosTituloComida {
    color: #FFF3DC;
    margin-top: 75px;
    font-weight: bolder;
}

.textosIngredienteComida {
    color: #FFF3DC;
    font-weight: lighter;
}

.textosPrecioComida {
    color: #FFF3DC;
    font-weight: bolder;
    font-family: monospace;
    font-size: 30px;
}

#textoPrecioGrande{
    color: #FFF3DC;
    font-weight: bolder;
    font-family: monospace;
    font-size: 45px;
}

#contenedorBlancoAgregar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    background-color: white;
    height: 80px;
    border-radius: 16px;
    font-size: 25px;
    color: #878687;
}

#imagenTachito{
    display: flex;
    padding-left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#imagenSignoMas{
    display: flex;
    padding-right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#imagenSignoMenos{
    display: flex;
    padding-right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#contenedorProductoPizza{
    height: 250px;
    border-radius: 16px;
    background-color:#D55039;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

#contenedorTextoGrandeCuadroBlanco{
    display: flex;
    gap: 40px;
    align-items: center;
    padding-right: 30px;
}

#lineaBordoCategoria2{
    margin-top: 10px;
    height: 15px;
    background-color: #953A3A;
    display: flex;
    flex-direction: row;
}

#tituloResumenPedido{
    display: flex;
    justify-content: left;
    padding-left: 96px;
    font-size: 35px;
    font-weight:lighter;
}

#contenedorTextoResumen{
    display: flex;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    font-size: 30px;
}

#contenedorCentradorSubtotal{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contenedorTextoResumenSubtotal{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    background-color: #D9D9D9;
    gap: 1120px;
    border-radius: 12px;
    height: 60px;
}

#contenedorBotonesInferiores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 100px;
}

#botonSeguirComprando{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    font-size: 35px;
    color: #D55039;
    background-color: #FFF3DC;
    border-radius: 8px;
    border: 3px solid #D55039;
    cursor: pointer;
}

#botonContinuar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    font-size: 35px;
    color: #FFF3DC;
    background-color: #D55039;
    border-radius: 8px;
    border: 3px solid #D55039;
    cursor: pointer;
}

/* ------------------------------------------ESTILOS FOOTER-------------------------------------------*/

.container{
    display: flex;
    justify-content: center;
    background-color: #D55039;
    flex-direction: column;
}

.lineaBordoFooter{
    height: 15px;
    background-color: #953A3A;
    justify-content: center;
    flex-direction: row; 
}

.lineaNegraFooter{
    height: 3px;
    background-color: #00000038;
    justify-content: center;
    flex-direction: row;
}

.button {
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    font-style: inherit;
    font-size: 25px;
  }

  .buttonAb{
    font-size: 18px;
    margin: 15px 32px;
    cursor: pointer;
  }

  .buttonUp{
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .buttonApp{
    font-size: 20px !important;
    cursor: pointer;
  }

.button:hover{
    color: white;
    text-decoration-line: underline;
  }

.texto{
    background:none;
    border: none;
    color: #FFF3DC;
    font-style: inherit;
    
}


/* ---------------------PARTE 1 (COLUMNA APPS, LOGO Y COLUMNA REDES SOCIALES)-------------------------------------------*/

.parte1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    align-items: center;
}


/* ------------------------------------------CONTENEDOR APP-------------------------------------------*/

#APPcontainer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#colTextoApp{
    display: flex;
    flex-direction: column;
    color: #FFF3DC;
    font-size: 14px;
    font-style: inherit;
}

#Apps{
    display: flex;
}

.imagePlay{
    width: 90px;
    height: 35px;
}

.imageApple{
    width: 90px;
    height: 35px;
}

/* ------------------------------------------CONTENEDOR LOGO-------------------------------------------*/

#logoBSFooter{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ------------------------------------------CONTENEDOR REDES SOCIALES-------------------------------------------*/

#socialContenedor{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#imagenNombreContenedor{
    display: flex;
    flex-direction: column;
}

#instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageInsta{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.imageFace{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* -----------------------------------------PARTE 2 (BOTONES INFERIORES)-------------------------------------------*/

.parte2{
    margin-bottom: 1em;
}

#abajo{
    color: #FFF3DC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 66px;
    color: #FFF3DC;
}

@media (max-width:700px){       /*CUANDO LA PANTALLA SEA MENOR A 700PX LLAMA A MEDIA QUERY Y HACE:*/
    .header{
        flex-direction: column;
    }

    .parte1{
        flex-direction: column;
    }

    #arriba{
        padding: 10px;
    }

    #logo{
        padding-left: 10px;
    }

    .fondo{
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    #contenedorImagenesComida{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    #contenedorImagenesInformacion{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .container{
        align-items: center;
    }
}
